@import "/src/assets/styles/reusables.scss";
@import "/src/assets/styles/process-messages.scss";

.container {
  @extend %container;
}

.form {
  @extend %form;
  @extend %field;
}

.side-panel {
  @extend %side-panel;
}

.process-messages {
  @extend %process-messages;
}

.speech-state {
  @extend %speech-state;

  &--audiostart {
    background: #266eba;
  }

  &--soundstart {
    background: #458cd9;
  }

  &--speechstart {
    background: #78ace3;
  }

  &--results {
    background: #ffffff;
  }

  &--nomatch {
    background: #fe6847;
  }

  &--speechend {
    background: #78ace3;
  }

  &--soundend {
    background: #458cd9;
  }

  &--audioend {
    background: #266eba;
  }
}
