<h2>Recognition</h2>
<div class="speech-to-text-container">
  <div *ngIf="langs$ | async as langs" class="form">
    <div class="field">
      <label class="field__label"> Language: </label>
      <select
        [(ngModel)]="selected.lang"
        (change)="updateSelected('lang')"
        class="field__control"
      >
        <option value="">- Select a language -</option>
        <option *ngFor="let lang of langs" [ngValue]="lang">
          {{ lang.name }} {{ lang.langCode }}
        </option>
      </select>
    </div>

    <div class="field">
      <label class="field__label"
        >Capture interim results (results that are not yet final)</label
      >
      <section>
        Yes
        <input
          type="radio"
          [(ngModel)]="selected.interimResults"
          (change)="updateSelected('interimResults')"
          class="field__control"
          [value]="true"
        />
      </section>
      <section>
        No
        <input
          type="radio"
          [(ngModel)]="selected.interimResults"
          (change)="updateSelected('interimResults')"
          class="field__control"
          [value]="false"
        />
      </section>
    </div>

    <div class="field">
      <label class="field__label">Terms to focus on</label>
      <input
        [(ngModel)]="termsToFind"
        (keydown)="updateSelected('terms')"
        class="field__control"
      />
    </div>

    <div class="form-actions">
      <button type="button" (click)="listen()" class="form-actions__button">
        Listen
      </button>

      <button
        type="button"
        (click)="stop()"
        class="form-actions__button form-actions__button--secondary"
      >
        Stop listening
      </button>
    </div>
  </div>

  <div class="side-panel">
    <section class="section section--process-view">
      <label class="label"> Process View </label>
      <ul class="process-messages">
        <li *ngFor="let message of service.processMessages" class="message">
          <div class="message-top">
            <section class="message__date">
              <span>
                {{ message.date }}
              </span>
            </section>

            <section class="message__event-type">
              <span>
                {{ message.eventType }}
              </span>
            </section>
          </div>
          <div class="message-bottom">
            <section class="message__result" *ngIf="message.topResult">
              <p class="message__transcript">
                [wykryto]: "{{ message.topResult.transcript }}"
              </p>
              <p class="message__confidence">
                [pewność]: {{ message.topResult.confidence }}
              </p>
            </section>

            <section class="message__error" *ngIf="message.error">
              <ng-container [ngSwitch]="message.error">
                <span class="message__error-desc" *ngSwitchCase="'no-speech'">
                  [no-speech] Nie wykryto mowy od strony użytkownika (nikt nic
                  nie mówi?).
                </span>
                <span
                  class="message__error-desc"
                  *ngSwitchCase="'audio-capture'"
                >
                  [audio-capture] Problem z wyłapaniem audio.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'not-allowed'">
                  [not-allowed] Brak zezwolenia.
                </span>
                <span class="message__error-desc" *ngSwitchDefault>
                  [{{ message.error }}] Błąd
                </span>
              </ng-container>
            </section>
          </div>
        </li>
      </ul>
    </section>

    <section class="section">
      <label class="label"> Found words: {{ service.textDisplayed }} </label>
    </section>
  </div>
  <div class="state state--{{ state }}" [ngClass]="{state}"></div>
</div>

<p>current event: {{ state }}</p>
