<h2>Recognition</h2>
<div class="container">
  <div *ngIf="params" class="form">
    <div class="field">
      <label class="field__label">Language</label>
      <select [(ngModel)]="params.lang" (change)="updateSelected('lang')" class="field__control">
        <option value="">- Select a language -</option>
        <option *ngFor="let lang of service.langs" [ngValue]="lang">{{ lang.name }} {{ lang.langCode }}</option>
      </select>
    </div>

    <div class="field">
      <section class="field__section">
        <label class="field__label">Terms to focus on</label>
        <input type="text" [(ngModel)]="termsToFind" (keydown)="updateSelected('terms')" class="field__control" />
      </section>

      <section class="field__section">
        <div class="checkbox-input">
          <div class="checkbox-wrapper">
            <input
              id="interimResults"
              type="checkbox"
              [(ngModel)]="params.interimResults"
              (change)="updateSelected('interimResults')"
              [value]="true"
              class="field__control field__control--checkbox" />
          </div>
          <label class="field__label" for="interimResults" [style.userSelect]="'none'">Capture interim (not yet final) results</label>
        </div>
      </section>
    </div>

    <div class="form-actions">
      <button type="button" (click)="listen()" class="form-actions__button">Listen</button>

      <button type="button" (click)="stop()" class="form-actions__button form-actions__button--secondary">Stop listening</button>
    </div>
  </div>

  <div class="side-panel">
    <section class="section section--process-view">
      <div class="label">
        <section>Process Events View</section>
        <section>
          <span class="current-event">{{ speechState ? speechState : "" }}</span>
          <span class="speech-state speech-state--{{ speechState }}"></span>
        </section>
      </div>
      <ul class="process-messages" #messagesEl>
        <li *ngFor="let message of service.processMessages" class="message message--{{ message.eventType }}">
          <div class="message-top">
            <section class="message__top-section">
              <div class="timings">
                <span class="message__date">
                  {{ message.date }}
                </span>
                <span class="message__elapsed">
                  {{ "+" + message.elapsedTime + "s. " }}
                </span>
              </div>
              <div class="contents">
                <span class="message__type">
                  {{ message.eventType }}
                </span>
                <span *ngIf="message.error" class="message__result message__result--error">
                  {{ message.error }}
                </span>
              </div>
            </section>
          </div>
          <div class="message-bottom">
            <ng-container *ngIf="service.resultsObj[message.date]">
              <ng-container *ngIf="params?.interimResults || (!params?.interimResults && !!service.resultsObj[message.date].isFinal)">
                <span class="message__result" [ngClass]="{ 'final-result': service.resultsObj[message.date].isFinal }">
                  {{ service.resultsObj[message.date].transcript }}
                </span>
              </ng-container>
            </ng-container>
            <section class="message__error" *ngIf="message.error">
              <ng-container [ngSwitch]="message.error">
                <span class="message__error-desc" *ngSwitchCase="'no-speech'">No speech was detected.</span>
                <span class="message__error-desc" *ngSwitchCase="'aborted'">
                  Speech input was aborted in some manner, perhaps by some user-agent-specific behavior like a button the user can press to
                  cancel speech input.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'audio-capture'">Audio capture failed. Problem z wyłapaniem audio.</span>
                <span class="message__error-desc" *ngSwitchCase="'network'">
                  Network communication required for completing the recognition failed.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'not-allowed'">
                  The user agent disallowed any speech input from occurring for reasons of security, privacy or user preference.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'service-not-allowed'">
                  The user agent disallowed the requested speech recognition service, either because the user agent doesn't support it or
                  because of reasons of security, privacy or user preference. In this case it would allow another more suitable speech
                  recognition service to be used instead.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'bad-grammar'">
                  There was an error in the speech recognition grammar or semantic tags, or the chosen grammar format or semantic tag format
                  was unsupported.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'language-not-supported'">The language was not supported.</span>
              </ng-container>
            </section>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
