@import "/src/assets/styles/reusables.scss";
@import "/src/assets/styles/process-messages.scss";

.container {
  @extend %container;
}

.form {
  @extend %form;
  @extend %field;
}

.side-panel {
  @extend %side-panel;
}

.process-messages {
  @extend %process-messages;
}

.speech-state {
  @extend %speech-state;

  &--pause {
    background: #112d4e;
  }

  &--resume {
    background: #1f5a98;
  }

  &--boundary {
    background: #2772c2;
  }

  &--mark {
    background: #ffffff;
  }
}
