<h2>Synthesis</h2>
<div class="text-to-speech-container">
  <div class="form" *ngIf="params">
    <div class="field" *ngIf="params.voice && service.voices?.length">
      <label for="voice-control" class="field__label"> Voice </label>
      <div class="field__content">
        <select
          id="voice-control"
          name="voice"
          [(ngModel)]="params.voice"
          (change)="updateSelected('voice')"
          class="field__control field__control--select"
        >
          <option value="">- Select a voice -</option>
          <option *ngFor="let voice of service.voices" [ngValue]="voice">
            {{ voice.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="field field--double" *ngIf="params.pitch">
      <section class="field__section">
        <label class="field__label"> Pitch </label>
        <input
          type="range"
          min="0.25"
          max="2.0"
          step="0.25"
          class="field__control"
          (change)="updateSelected('pitch')"
          [(ngModel)]="params.pitch"
        />

        <label class="field__label field__label--value">
          {{ params!.pitch }}
        </label>
      </section>

      <section class="field__section" *ngIf="params.rate">
        <label class="field__label"> Rate </label>
        <input
          type="range"
          [attr.min]="rates[0]"
          [attr.max]="rates[rates.length - 1]"
          class="field__control"
          step="0.25"
          (change)="updateSelected('rate')"
          [(ngModel)]="params.rate"
        />
        <label class="field__label field__label--value">
          {{ params!.rate }}
        </label>
      </section>
    </div>

    <div class="field">
      <section class="field__section">
        <label for="text-control" class="field__label"> Text </label>
        <div class="field__content">
          <textarea
            #textarea
            id="text-control"
            name="text"
            [(ngModel)]="text"
            (keyup)="handleKey($event)"
            class="field__control field__control--textarea"
          >
          </textarea>
        </div>
      </section>

      <section class="field__section">
        <div class="checkbox-input">
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              [(ngModel)]="speakOnChange"
              class="field__control field__control--checkbox"
            />
          </div>
          <label class="field__label">
            Start new speech on any settings change
          </label>
        </div>
      </section>
    </div>

    <div class="form-actions">
      <button type="button" (click)="speak()" class="action__button">
        Speak text
      </button>

      <button
        type="button"
        (click)="stop()"
        class="action__button action__button--secondary"
      >
        Stop
      </button>
      <button
        type="button"
        (click)="pause()"
        class="action__button action__button--secondary"
      >
        Pause
      </button>
      <button
        type="button"
        (click)="resume()"
        class="action__button action__button--secondary"
      >
        Resume
      </button>
    </div>
  </div>

  <div class="side-panel">
    <section class="section section--process-view">
      <label class="label">
        Process Events View
        <span class="current-event"> {{ speechState ? speechState : "" }}</span>
      </label>
      <ul class="process-messages" #messagesEl>
        <li *ngFor="let message of service.processMessages" class="message">
          <div class="message-top">
            <section class="message__top-section">
              <span class="message__elapsed">
                {{ "+" + message.elapsedTime + "s. " }}
              </span>
              <span class="message__type">
                {{ message.eventType }}
              </span>
            </section>
            <section class="message__date">
              <span>
                {{ message.date }}
              </span>
            </section>
          </div>
          <div class="message-bottom">
            <section
              class="message__result"
              *ngIf="message.name"
              [ngClass]="{ 'final-result': message.name }"
            >
              <p class="message">
                {{ message.name }}
              </p>
            </section>

            <section class="message__error" *ngIf="message.error">
              <ng-container [ngSwitch]="message.error">
                <span class="message__error-desc" *ngSwitchCase="'no-speech'">
                  [no-speech] Nie wykryto mowy ze strony użytkownika (nikt nic
                  nie mówi?).
                </span>
                <span
                  class="message__error-desc"
                  *ngSwitchCase="'audio-capture'"
                >
                  [audio-capture] Problem z wyłapaniem audio.
                </span>
                <span class="message__error-desc" *ngSwitchCase="'not-allowed'">
                  [not-allowed] Brak zezwolenia.
                </span>
                <span class="message__error-desc" *ngSwitchDefault>
                  [{{ message.error }}] Błąd
                </span>
              </ng-container>
            </section>
          </div>
        </li>
      </ul>
    </section>
  </div>
  <div
    class="speech-state speech-state--{{ speechState }}"
    [ngClass]="{speechState}"
  ></div>
</div>
