/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  src: url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"), url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"), url("./assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("./assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("./assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-family: "Space Mono", monospace !important;
  margin: 0.6rem 0;
  text-shadow: 0.12rem 0.15rem 0rem rgba(0, 117, 255, 1);

  span {
    background: white;
    color: rgba(0, 117, 255, 1);
    text-shadow: none;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 0.15rem 0.4rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Light", "arial", sans-serif;
}

button {
  font-size: 0.85rem;
  padding: 0.28em 0.7em;
  text-transform: uppercase;
  background: white;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.15rem 0.1rem rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  bottom: 0;
  user-select: none;
  &:hover {
    box-shadow: 0.1rem 0.15rem 0.1rem rgba(0, 0, 0, 0.45);
    bottom: 1px;
  }

  & + button {
    margin-left: 5px;
  }
}

input,
select,
textarea {
  margin: 6px 0;
}

input[type="range"] {
  width: 150px;
}

input[type="textarea"],
input[type="select"] {
  width: 360px;
}

textarea {
  min-height: 42.4px;
}
